<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../styles/styles.css">

    <title>Personal Interests</title>
</head>
<body>

<div class="jumbotron text-center datenight">
    <h1>=^o.o^=Date-Night~~</h1>
    <h2> -Interests-</h2>
</div>

<div class="container" id="columns">
    <!--first row-->
    <form method="post" action="summary">

    <h2>Indoor Interest</h2>
    <div class="row">
        <div class="col-sm-3">
            <div class="input-group mb-3">
                <label>
                <input type="checkbox" aria-label="Checkbox for following text input">
                    Food
                </label>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="input-group mb-3">
                <label>
                    <input type="checkbox" aria-label="Checkbox for following text input">
                    Catnip
                </label>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="input-group mb-3">
                <label>
                    <input type="checkbox" aria-label="Checkbox for following text input">
                    Naps
                </label>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="input-group mb-3">
                <label>
                    <input type="checkbox" aria-label="Checkbox for following text input">
                    Nature Shows/Movies
                </label>
            </div>
        </div>
    </div>
    <!--second row-->
    <div class="row">
        <div class="col-sm-3">
            <div class="input-group mb-3">
                <label>
                    <input type="checkbox" aria-label="Checkbox for following text input">
                    Snacks
                </label>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="input-group mb-3">
                <label>
                    <input type="checkbox" aria-label="Checkbox for following text input">
                    Boxes
                </label>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="input-group mb-3">
                <label>
                    <input type="checkbox" aria-label="Checkbox for following text input">
                    Dirty Clothes
                </label>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="input-group mb-3">
                <label>
                    <input type="checkbox" aria-label="Checkbox for following text input">
                    Self-Cleaning
                </label>
            </div>
        </div>
    </div>
    <h2>Outdoor Interest</h2>
    <!--third row-->
    <div class="row">
        <div class="col-sm-3">
            <div class="input-group mb-3">
                <label>
                    <input type="checkbox" aria-label="Checkbox for following text input">
                    Calm Reflection
                </label>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="input-group mb-3">
                <label>
                    <input type="checkbox" aria-label="Checkbox for following text input">
                    Looking ready
                </label>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="input-group mb-3">
                <label>
                    <input type="checkbox" aria-label="Checkbox for following text input">
                    Wild Catnip
                </label>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="input-group mb-3">
                <label>
                    <input type="checkbox" aria-label="Checkbox for following text input">
                    Dirt Rolling
                </label>
            </div>
        </div>
    </div>
    <!--forth row-->
    <div class="row">
        <div class="col-sm-3">
            <div class="input-group mb-3">
                <label>
                    <input type="checkbox" aria-label="Checkbox for following text input">
                    Sun Bathing
                </label>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="input-group mb-3">
                <label>
                    <input type="checkbox" aria-label="Checkbox for following text input">
                    Bird Watching
                </label>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="input-group mb-3">
                <label>
                    <input type="checkbox" aria-label="Checkbox for following text input">
                    Naps
                </label>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="input-group mb-3">
                <label>
                    <input type="checkbox" aria-label="Checkbox for following text input">
                    Grass
                </label>
            </div>
        </div>
    </div>

    <a href="order"><button href="summary" type="submit" id="button-style" class="btn btn-primary btn-md">Next></button></a>
</form>

</div>


</body>
</html>